aside, aside *{
    margin: 0;
}
aside{
    width: 9%;
    background-color: #020203;
    height: 1000px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

aside p {
    transform: rotate(270deg);
    z-index: 100;
    width: 200px;
}

.sidebar-icons-wrapper{
    width: 65px;
    height: 320px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

